
  .mat-accordion  {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }
  
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }
  
  .mat-table {
    display: block;
  }
  
  .mat-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 15px;
  }
  
.mat-row, .mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 25;
  box-sizing: border-box;
}